*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#ececec;
color:#333;

transition:.4s;

}

body.dark{

background:#222;
color:white;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:#d97706;

position:fixed;

width:100%;

top:0;

}

nav ul{

display:flex;

list-style:none;

gap:25px;

}

nav a{

color:white;

text-decoration:none;

font-weight:bold;

}

.logo{

font-size:24px;

color:white;

font-weight:bold;

}

.banner{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1504307651254-35680f356dfd");

background-size:cover;

color:white;

text-align:center;

}

.banner h1{

font-size:60px;

}

.banner button{

padding:15px 40px;

margin-top:20px;

font-size:18px;

border:none;

background:#ff9800;

cursor:pointer;

border-radius:8px;

}

section{

padding:90px 10%;

}

.cards{

display:flex;

gap:25px;

margin-top:30px;

}

.card{

flex:1;

background:white;

padding:30px;

border-radius:12px;

box-shadow:0 0 20px rgba(0,0,0,.1);

transition:.3s;

}

.dark .card{

background:#333;

}

.card:hover{

transform:translateY(-10px);

}

.progresso{

width:100%;

background:#ccc;

height:30px;

margin-bottom:25px;

border-radius:20px;

}

.progresso div{

background:#ff9800;

height:100%;

display:flex;

justify-content:center;

align-items:center;

color:white;

border-radius:20px;

}

input{

padding:12px;

width:250px;

}

button{

padding:12px 25px;

cursor:pointer;

margin-top:15px;

}

footer{

background:#111;

color:white;

text-align:center;

padding:25px;

}